# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.suo
TSE/CPUMandelbrot/\.vs/CPUMandelbrot/v14/\.suo

*.log

*.tlog

TSE/OpenCL_1/\.vs/OpenCL_1/v14/\.suo

TSE/OpenCL_2/\.vs/OpenCL_2/v14/\.suo
